<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="SourceSqlConnectionString" connectionString="Data Source=(local)\SQL2014;Initial Catalog=DSVault;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SearchServiceName" value="whirlwind" />
		<add key="SearchServiceApiKey" value="4BD56D1DF9EF3EF31D9507D55F4A0D00" />
		<add key="SearchIndexName" value="datasetvault" />
	</appSettings>
	
</configuration>