<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" allowDefinition="Everywhere"
				 type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<appSettings>
		<!--<add key="SourceSqlConnectionString" value="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|\AdventureWorksCatalog.mdf"/>-->
		<add key="SourceSqlConnectionString" value="Data Source=(local)\SQL2014;Initial Catalog=DSVault;Integrated Security=True"/>
		<add key="SearchServiceName" value="https://whirlwind.search.windows.net" />
		<add key="SearchServiceApiKey" value="4BD56D1DF9EF3EF31D9507D55F4A0D00" />
		<add key="SearchIndexName" value="datasetvault" />
	</appSettings>
</configuration>