<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" allowDefinition="Everywhere"
				 type="System.Configuration.SingleTagSectionHandler" />
	</configSections>
	<appSettings>
		<add key="SourceSqlConnectionString" value="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|\AdventureWorksCatalog.mdf"/>
		<add key="SearchServiceName" value="[SEARCH SERVICE NAME]" />
		<add key="SearchServiceApiKey" value="[SEARCH SERVICE ADMIN API-KEY]" />
	</appSettings>
</configuration>